/*
Design idea: Make light theme for day and dark theme for night
Center the container
Add a background behind container
*/

h1 {
  font-size: 56px;
  margin: 10px auto;
  text-align: left;
}

h2 {
  font-size: 56px;
  margin-bottom: 15px;
}

form {
  margin: 15px auto;
}

.container {
  margin-top: 10px;
}

.temp-change {
  width: 100px;
  margin-left: -43px;
  margin-top: 10px;
}

.current-time {
  position: relative;
  margin-top: 24px;
  text-align: right;
}

ul.weather-indicators {
  margin-top: 5px 0px;
  font-size: 14px;
  list-style: none;
}

.cities {
  font-size: 13px;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 36px;
}

.temp {
  font-size: 14px;
}

.forecast-card {
  margin-bottom: 10px !important;
}

.card {
  margin-bottom: 15px !important;
}
