/*
Design idea: Make light theme for day and dark theme for night
Center the container
Add a background behind container
*/

h1 {
  font-size: 56px;
  margin: 10px auto;
  text-align: left;
}

h2 {
  font-size: 56px;
  margin-bottom: 15px;
}

form {
  margin: 15px auto;
}

img {
  width: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-top: 10px;
}

.current-temp {
  position: relative;
  padding: 0px;
  width: 80px;
}

.temp-change {
  width: 100px;
  margin-left: -15px;
  margin-top: 10px;
}

.temp-change .active {
  color: #111111;
  text-decoration: none;
  cursor: default;
}

.current-time {
  position: relative;
  margin-top: 26px;
  text-align: right;
  font-size: 14px;
  color: #a1a1a1;
}

ul.weather-indicators {
  margin-top: 7px;
  font-size: 14px;
  list-style: none;
}

.cities {
  font-size: 13px;
}

.cities a {
  color: #111111;
}

.cities a:hover {
  cursor: pointer;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 36px;
}

.weather-forecast-temp {
  font-size: 14px;
}

.forecast-card {
  margin-bottom: 10px !important;
}

.card {
  margin-bottom: 15px !important;
}

.repository-link {
  margin-left: 130px;
}
